* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

h1 {
	margin-top: 50px;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

input[type="text"] {
	padding: 10px;
	border-style: solid;
	border-radius: 5px;
	font-size: 16px;
	margin-right: 10px;
}

button {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16
}

.weather-container {
    display: flex;
    
  }
  
  .current-weather {
    flex: 1;
    padding: 10px;
  }
  
  .forecast {
    flex: 1;
    padding: 10px;
  }
  
  .forecast > div {
    margin-top: 10px;
  }
  
  .search-history {
    margin-top: 20px;
  }
  
  .search-history h3 {
    font-size: 16px;
  }
  
  .search-history ul {
    margin-top: 10px;
    padding-left: 0;
  }
  
  .search-history li {
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
  }

